---
import { Image } from 'astro:assets'
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import DefaulContentBlock from "../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../components/Content/ImageOnLeft.astro";
import CallToAction from "../components/CallToAction.astro";
import Button from "../components/Buttons/PrimaryButton.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import ContactSection from "../components/ContactSection.astro";
import Areas from "../components/areas.astro";
import GetaQuote from "../components/GetaQuote.astro";

import heroBg from "../assets/images/drive-large.png";   
---

<Layout title={`Contact Us | Bespoke Driveways and Landscaping`} description={`Get a FREE quote today. We provide quality surfacing solutions and landscaping services to transform your outdoor space.`}>




<Hero 
title="Bespoke Driveways and Landscaping"
sub="Get in Touch for a FREE Quote Today" 

image={heroBg}

>

</Hero>
		
<Areas />

<div class="bg-white lg:my-32 my-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-semibold text-green-800 text-2xl lg:text-4xl">Get Your Project Started</h2>
        
        <p class="mt-6 lg:text-lg  text-gray-600">Get in touch today for a FREE HOME SURVEY AND QUOTE.

<br />
Complete our short form below and one of our experts will be in touch ASAP. 
<br />
Please give us as much details as possible in order for us to process your enquiry as smoothly as possible.
        </p>

      </div>
      
    
       
        
  
    </div>
  </div>

  <GetaQuote 
  background={heroBg}
  href="https://s1nv1eyyibf.typeform.com/to/oiUMErhg"
  linkText="Talk to an Expert"
  >

  <div slot="quoteContent"> 
    <p>Bespoke Driveways and Landscaping offer a FREE home survey and no obligation quote service. Our experienced team will visit your property to assess your specific requirements and discuss your vision for your tarmac driveway. We'll provide expert advice tailored to your needs and offer a detailed quote with transparent pricing, so you can make an informed decision about your project. Take the first step towards transforming your driveway today – schedule your free home survey with us and let's bring your vision to life.</p>

  </GetaQuote>
  



</Layout>  

