---
export const prerender = true;
import { Image } from 'astro:assets'
const town = "{town}"; 

import ResinDrivewaysNorthLondon from "../../components/LocationData/ResinDrivewaysNorthLondon";


import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import WideHero from "../../components/Hero/Hero.astro";
import ImageBlock from "../../components/ImageBlock.astro";
import DefaulContentBlock from "../../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../../components/Content/ImageOnRight.astro"; 
import ImageOnLeft from "../../components/Content/ImageOnLeft.astro";
import CallToAction from "../../components/CallToAction.astro";
import GetaQuote from "../../components/GetaQuote.astro";

import Button from "../../components/Buttons/PrimaryButton.astro";
import SubTitle from "../../components/Headings/SubTitle.astro";
import LargeTitle from "../../components/Headings/LargeTitle.astro";
import UspSection from "../../components/Usp.astro";
import SmallSubTitle from "../../components/Headings/SmallSubTitle.astro";

import Areas from "../../components/areas.astro";

import heroBg from "../../assets/images/drive-large.png";
import extension3 from "../../assets/images/extension3.png";
import fence1 from "../../assets/images/fence1.png";
import returf1 from "../../assets/images/returf2.png";
import decking1 from "../../assets/images/decking1.png";
import lawn1 from "../../assets/images/lawn2.png";
import design1 from "../../assets/images/design1.png";
import resinDrive2 from "../../assets/images/drive2.png";
import resinPatio1 from "../../assets/images/patio1.png";
import block from "../../assets/images/block1.png";
import tarmac from "../../assets/images/tarmac1.png";
import Drive5 from "../../assets/images/drive-img-5.png";
import Landscape1 from "../../assets/images/landscape1.png";
import grassBg from "../../assets/images/grassbg1.png";
import resinImg1 from "../../assets/images/artificial1.pngresin-img-2.png";
import resin from "../../assets/images/resin-close.png";
import Drive6 from "../../assets/images/drive-img-6.png";
import resinImg2 from "../../assets/images/resin-img-landscape.png";

import extension9 from "../../assets/images/extension9.png";
import extension7 from "../../assets/images/extension7.png";
import clearance from "../../assets/images/clearance.png";

---


    <Layout title={`Resin Driveways North London | Bespoke Driveways and Landscaping`} description={`Stunning resin driveways in North London. Extremely durable and easy to maintain. We provide quality surfacing solutions and landscaping services to transform your outdoor space.`}>


<div class="mx-auto max-w-7xl px-6 lg:mt-10">


  
    <div
    class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
    >
    <div class="flex flex-col mb-10 pb-4">
       <h1 class="text-2xl lg:text-7xl font-bold text-gray-700">Resin Driveways in North London</h1>
    
       <p class="mt-6 lg:text-lg  text-gray-600">Bespoke Driveways and Landscaping provide high-quality resin bound driveways in North London, including a FREE SITE SURVEY and no obligation FREE quote.</p>
       <p class="mt-6 lg:text-xl font-bold  text-gray-600">Take a look below at the list of towns we cover in North London:

        </p>
       
    </div>

    <div class="flex flex-col overflow-hidden mb-10 pb-4 ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317716.6065126688!2d-0.431249722975234!3d51.528607004464966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1711986004535!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    </div>

</div>


		


  <ResinDrivewaysNorthLondon />

  
<div class="bg-white lg:my-32 my-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
  

<p class="my-20 text-xl lg:text-4xl text-center font-bold">Want to speak to an expert today? <br />Call us on 0207 856 0210</p>


      </div>
       </div>
  </div>

</Layout>  

