---
import ico from "../../assets/images/ico.webp";
import { Image } from "@astrojs/image/components";
import Tat from "../../assets/images/tat-logo-150x150.jpg";

---

<footer class="bg-gray-600" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>

  <footer class="py-10 mt-32">
  <p class="mt-8 text-base text-white text-center">
    &copy; {new Date().getFullYear()} Molino Villas. All rights reserved.
  </p>
  
   
     

</footer>


